* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: capitalize;
  letter-spacing: 1px;
  font-family: "Times New Roman", Times, serif;
}

body {
  background-image: url(../Utils/Background.gif);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 50px;
  padding-top: 150px;
  width: 100%;
}

.parent {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  padding: 0 30px;
  overflow: hidden;
}

.flip_card {
  cursor: pointer;
  perspective: 1000px;
  width: 350px;
  margin: 30px 150px;
  overflow: hidden;
  height: 60vh;
}

.flip_card_inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.flip_card:hover .flip_card_inner {
  transform: rotateY(180deg);
}

.child1,
.child2 {
  height: auto;
  width: 50%;
  text-align: center;
}

.child1_1,
.child1_2 {
  /* border: 1px solid; */
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  padding: 20px;
  backface-visibility: hidden;
}

.child1_1 {
  background-color: blanchedalmond;
}

.child1_2 {
  transform: rotateY(180deg);
}

.child1_2 > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
}

h3 {
  font-size: 40px;
  font-weight: 700;
}

h6 {
  font-size: 25px;
  font-weight: 400;
}

.rotate {
  font-weight: bold;
}

.tilt1,
.tilt2,
.tilt3 {
  cursor: pointer;
  position: relative;
  font-size: x-large;
  font-weight: 700;
  /* border: 2px solid; */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 150px;
  width: 750px;
  margin: 20px 0;
  border-radius: 20px;
  transform: rotateY(-230deg) rotateX(15deg);
  transform-style: preserve-3d;
  transition: transform 0.5s ease;
  box-shadow: 0 5px 10px rgba(255, 255, 255, 0.5);
}

.tilt1 {
  right: 90px;
}

.tilt2 {
  top: -15px;
  right: 45px;
}

.tilt3 {
  top: -30px;
}

.tilt1:hover,
.tilt2:hover,
.tilt3:hover {
  width: 600px;
  transform: rotate(0);
}

.tilt1:hover .text,
.tilt2:hover .text,
.tilt3:hover .text {
  transform: rotateY(0);
}

.tilt1 {
  background-color: rgb(249, 112, 62);
}

.tilt2 {
  background-color: rgb(248, 214, 23);
}

.tilt3 {
  background-color: rgb(250, 193, 107);
}

.image > img {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  height: 130px;
  width: 130px;
  object-fit: cover;
}

.image > img:hover {
  scale: 1.1;
}

.text {
  transform: rotateY(180deg);
}

.btn {
  margin: 10px 0;
  margin-left: 213px;
  width: 215px;
  height: 40px;
  padding: 5px 0;
  border-radius: 15px;
  text-align: center;
  font-size: large;
  font-weight: bold;
  background-color: blanchedalmond;
}

.btn:hover {
  scale: 1.1;
  background-color: aquamarine;
  color: red;
  transition: transform 1s ease;
  cursor: pointer;
}

@media (max-width: 320px) {
  body {
    padding: 0;
    padding-top: 30px;
  }
  .parent {
    flex-direction: column;
    gap: 30px;
  }
  .flip_card {
    width: 100%;
    margin: 0;
    padding: 30px 0;
    height: 88vh;
  }
  .btn {
    margin: 0;
    width: 100%;
  }
  .child1_2 > img {
    width: inherit;
    height: inherit;
    object-fit: fill;
  }
  .tilt1,
  .tilt2,
  .tilt3 {
    margin: 20px -50px;
    width: 350px;
    position: relative;
    top: 0;
    padding: 15px;
    right: 0;
    gap: 10px;
    height: auto;
  }
  .tilt1:hover,
  .tilt1:hover .text,
  .tilt2:hover .text,
  .tilt3:hover .text,
  .tilt2:hover,
  .tilt3:hover {
    width: 270px;
    margin: 0;
    font-size: larger;
  }
  .child1,
  .child2 {
    width: 100%;
  }
  .child2 {
    margin-bottom: 10px;
  }
}

@media (min-width: 321px) and (max-width: 480px) {
  body {
    padding: 0;
    padding-top: 30px;
  }
  .parent {
    flex-direction: column;
  }
  .flip_card {
    width: 100%;
    margin: 0;
    padding: 30px 0;
    height: 78vh;
  }
  .btn {
    margin: 0;
    width: 100%;
  }
  .child1_2 > img {
    width: inherit;
    height: inherit;
    object-fit: fill;
  }
  .child2 {
    padding: 0 15px;
  }
  .tilt1,
  .tilt2,
  .tilt3 {
    margin: 20px -95px;
    width: 450px;
    position: relative;
    top: 0;
    padding: 15px;
    right: 0;
    gap: 15px;
    height: auto;
  }
  .tilt1:hover,
  .tilt1:hover .text,
  .tilt2:hover .text,
  .tilt3:hover .text,
  .tilt2:hover,
  .tilt3:hover {
    width: 330px;
    margin: 0;
    font-size: larger;
  }
  .tilt1:hover,
  .tilt2:hover,
  .tilt3:hover {
    margin: 0 -35px;
  }
  .child1,
  .child2 {
    width: 100%;
  }
  .child2 {
    margin-bottom: 10px;
  }
}

@media (min-width: 481px) and (max-width: 770px) {
  body {
    padding-top: 50px;
  }
  .parent {
    flex-direction: column;
    gap: 50px;
  }
  .flip_card {
    margin: 15px 0;
    margin-left: 150px;
    padding: 30px 0;
    height: 75vh;
  }
  .btn {
    margin: 0;
    width: 350px;
    margin-left: 150px;
  }
  .tilt1,
  .tilt2,
  .tilt3 {
    margin: 20px auto;
    width: 750px;
    position: relative;
    top: 0;
    right: 0;
  }
  .child1,
  .child2 {
    width: 100%;
  }
}

@media (min-width: 841px) and (max-width: 1360px) {
  body {
    padding-top: 50px;
  }
  .parent {
    flex-direction: column;
    gap: 50px;
  }
  .child1,
  .child2 {
    width: 100%;
  }
  .flip_card {
    margin: 15px 0;
    margin-left: 250px;
    padding: 30px 0;
    height: 57vh;
  }
  .btn {
    margin: 0;
    width: 350px;
    margin-left: 250px;
  }
  .tilt1,
  .tilt2,
  .tilt3 {
    margin: 20px auto;
    margin-right: 50px;
    width: 1000px;
    position: relative;
    top: 0;
    right: 0;
  }
}
